
{% extends 'core/base_user.html' %}

{% block title %}
Activity 
{% endblock %}

{% block content %}
    <h2>User Settlements</h2>
    {%if user_settlements%}
    {% for settlement in user_settlements %}

    <h1 class='mt-5' style="text-align:center; color:#00796b;">{{settlement.groupName}}-{{settlement.groupAdmin.username}}---{{settlement.user1.username}} -------> {{settlement.user2.username}} -------- {{settlement.done_at}} </h1>
    
    {%if settlement.amount > 0%}
    <h1 class='mt-5' style="text-align:center; color:#200079;">{{settlement.amount}}</h1>
    {%else%}
    <h1 class='mt-5' style="text-align:center; color:#ce3434;">{{settlement.amount}}</h1>
    {%endif%}
      <br><br><br>
      {% endfor %}
      {%else%}
       <h1 class='mt-5' style="text-align:center; color:#00796b;" >No Settlements</h1>
    {%endif%}

    <h2>Events</h2>
    {%if event_debt%}
        {% for event,value in event_debt.items %}

        <h1 class='mt-5' style="text-align:center; color:#00796b;">{{event.groupName}}-{{event.groupAdmin.username}}---{{event.description}}----{{event.created_at}}   </h1>
        {%if value > 0%}
    <h1 class='mt-5' style="text-align:center; color:#200079;">{{value}}</h1>
    {%else%}
    <h1 class='mt-5' style="text-align:center; color:#ce3434;">{{value}}</h1>
    {%endif%}
       
          <br><br><br>
          {% endfor %}
          {%else%}
           <h1 class='mt-5' style="text-align:center; color:#00796b;" >No Events</h1>
    {%endif%}


    

      


{% endblock %}